main {
  position: relative;
  padding-top: 4.3rem;
  background-color: var(--light-red);
}
.scrollUp-nav{
display: none;
}

@media only screen and (min-device-width: 1200px){
.scrollUp-nav{
  display:none;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 25px -1px var(--light-grey);

  ul{
    width:100%;
display: flex;
flex-direction: row;
justify-content: space-around;
li{
  font-size: 1.3rem;
  color: var(--text-color);
  font-family: BoldFont;
  user-select: none;
}
.activnavlist{
  color: var(--accent-color);
}
  }
}
}
nav {
  
  padding: 1rem 1.5rem;
  z-index: 999;
  left: 0;
  right: 0;
  background-color: rgba(1,1,1,0.8);
  .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
  position: fixed;
  
  figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    div{
      width:2rem;
      margin-right: 0.5rem;
      @media only screen and (min-width: 1024px) {
        width: 3rem;
      }
    }
    h3{
      color: var(--white-color);
      letter-spacing: 0.1rem;
      font-size: 1.4rem;
      @media only screen and (min-width: 1024px) {
        font-size: 1.6rem;
      }
      span{
        color: var(--middle-shade-color);
      }
    }
    
  }
  
  h4{
    color: var(--white-color);
    text-transform: none;
    letter-spacing: 0.1rem;
  }
  h4:hover{
    color: var(--accent-color);
  }
  div{
    display: flex;
    flex-direction: column;
    h4{
      font-size: 1.1rem;
      text-align: right ;
    }
    #email{
      margin-bottom: 0.5rem;
    }
  }
  @media only screen and (min-width: 1024px) {
   
  div{
    flex-direction: row;
    h4{
      font-size: 1.3rem;
    }
    #email{
      margin-right: 1rem;
      margin-bottom: 0rem;
    }
  }
 
  
}
}
.mobile-nav{
  .container{
  display: flex;
  flex-direction: column;
  .icon-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    i{
      color:var(--white-color);
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  .email-number-div{
    display: none;
    width: 100%;
   flex-direction: column;
   align-items: flex-start;
    margin-top: 1rem;
    
    i{
      margin-right: 1rem;
    }
  }
  }
}
.desktop-nav{
display: none;
}
@media only screen and (min-device-width: 1200px){
.mobile-nav{
  display: none;
}
.desktop-nav{
display: flex;
.container{
  width: 100%;
}
#email{
  margin-right: 2rem;
}
i{
  margin-right: 1rem;
}
}
}

.hero-section {
  background-color: var(--light-red);
  padding-bottom: 16rem;
  @media only screen and (min-width: 1024px) {
    padding-bottom: 10rem;
    padding-top: 6rem;
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    .left-hero-div{
      width: 60%;
    }
  }
}
  .video-button-wrap {
    display: flex;
    flex-direction: column;
   
    figure {
      margin-top: 1rem;
      width: 3rem;
      height: 100%;
      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }
    margin-bottom: 1rem;
  }
  article {
    justify-content: flex-start;
    align-items: flex-start;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        
        margin: 0.3rem 0rem;
        @media only screen and (min-width: 1024px) {
          margin-right: 1.5rem;
        }

        span {
          font-family: BoldFont;
        }
      }
      #months{
        width:28%;
        @media only screen and (min-width: 1024px) {
          width: fit-content;
        }
      }
      #problems{
        width:50%;
        @media only screen and (min-width: 1024px) {
          width: fit-content;

        }
      }
      #students-enrolled {
        width: 100%;
        @media only screen and (min-width: 1024px) {
          width: fit-content;
        }
      }
    }
  }
  .hero-image {
    display: none;
    @media only screen and (min-width: 1024px) {    
   display: block;
   position: relative;
   i{
     position: absolute;
     cursor: pointer;
     color: var(--shade-color);
     -webkit-animation: random 5s infinite;
     animation: random 5s infinite;
     @keyframes  random {
      15% { color: var(--black-color); } 
      30% { color: var(--shade-color); } 
      45% { color: var(--black-color); } 
      60% { color: var(--shade-color); }
      75% { color: var(--black-color); }  
  }
     left: 52%;
     top: 46%;
     font-size: 2rem;
   }
    }
  }
  
  .rating-component {
    margin-top: 1rem;
    ul {
      display: flex;
      flex-direction: row;
      li {
        margin-right: 0.5rem;
        font-family: BoldFont;
        i {
          color: var(--golden-color);
        }
      }
    }
  }
  .button-div {
    margin-top: 1.5rem;
    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
    }
    figure {
      display: none;
      @media only screen and (min-width: 1024px) {
        display: block;
        width: 3rem;
      height: 100%;
      }
    }
    button {
      width: 100%;
      @media only screen and (min-width: 1024px) {
        width: 20rem;
        margin-right: 1rem;
      }
    }
  }
}

.key-highlights {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 12rem;
 
  @media only screen and (min-width: 1024px) {
    padding-top: 8rem;
   
  }
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    margin-bottom: 0rem;
  }
  .highlights {
    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
    figure {
      width: 20%;
      height: 3.5rem;
      margin-right: 1rem;
      img{
        object-fit: contain;
      }
      @media only screen and (min-width: 1024px) {
        width: 5rem;
        height:5rem;

      }
    }
    .text-wrap{
      display: flex;
      flex-direction: column;
      padding:0rem;
      margin-top: 0rem;
      width:80%;
      @media only screen and (min-width: 1024px) {
        width:100%;
        margin-top: 1.5rem;

      }
      h6{
        width: 100%;
        text-align: left;
        margin-bottom: 0.5rem;
        @media only screen and (min-width: 1024px) {
          text-align: center;
          margin-bottom: 0rem;



        }
      }
    }
    div {
      background-color: var(--background-grey);
      padding: 0.7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
      border-radius: 0.3rem;
      @media only screen and (min-width: 1024px) {
        background-color: transparent;

        flex-direction: column;
        width:30%;
        padding:1.5rem 1rem;
      }
      p {
        text-align: left;
        span{
          font-weight:bolder;
        }
        @media only screen and (min-width: 1024px) {
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }
  @media only screen and (min-width: 1024px) {

  .button-component{
    align-items: center;
  }
}
}

//banner

.banner {
  position: absolute;
  box-shadow: 0px 0px 25px -1px var(--light-grey);
  padding: 1rem;
  padding-top: 0rem;
  width: 80%;
  top: -14rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  @media only screen and (min-width: 1024px) {
    max-width: 1200px;
    padding:1.5rem 0rem;
    padding-top: 1rem;
    top: -4rem;

  }
  ul {
    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    li {
      margin-top: 1rem;
      span,
      h4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        color: var(--accent-color);
        i{
          font-size: 1rem;
        
        @media only screen and (min-width: 1024px) {
          font-size: 1.2rem;

       
      }
    }
        span{
          width: fit-content;
          margin: 0rem 0.3rem;
          color: var(--accent-color);
        }
        .lightFont{
          font-family: LightFont;
          font-size: 1.2rem;
        }
        
        .remove-margin{
          margin-right: 0rem;
        }
       
      }
      span {
        margin-bottom: 0.5rem;
        color: var(--grey);
      }
    }
  }
}

//Popup section

.videoComponent {
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 10;
  iframe {
    height: 14rem;
    width: 100%;
    margin: 0rem 1rem;
    @media only screen and (min-width: 1024px) {
      width:40%;
      height:25rem;
    }
  }
}

.certificateComponent{
  background-color: rgba(1, 1, 1, 0.7);
  figure {
    height: 16rem;
    width: 100%;
    margin: 0rem 0.5rem;
    @media only screen and (min-width: 1024px) {
      height:60%;
      width:70%;
     img{
       object-fit: contain;
     }
    }
  }
}

.formComponent{
 
  h2,p,i{
    color: var(--accent-color);
    text-align: center;
  }
  i{
    
    font-size: 1.2rem;
    color: var(--white-color);
    
  }
  div{
    padding:2rem 1rem;
    background: var(--white-color);
    border-radius: 0.5rem;
    margin:0rem 1rem;
    @media only screen and (min-width: 1024px) {
      width:40%;
      margin: 0rem;
    }

  }
  .error-msg{
    display: none;
    width:100%;
    padding: 1rem;
    color: var(--accent-color);
    font-family: BoldFont;
    text-align: center;
    margin-bottom: 1rem;
   
    background-color: var(--light-red);
  }
  
  form{
    width:100%;
    
    input{
      margin-bottom: 1rem;
      width: 100%;;
    }
    div{
      padding: 0rem;
      margin: 0rem;

      width: 100%;
    }
    button{
      width: 100%;

      i{
        position:unset;
        margin-left: 1rem;
        color: var(--accent-color);
        font-size: 1rem;
        float: right;
      }
    }

  }
}

.curriculum {
  article{
  p{
    text-align: center;
  }
}

 
  .curriculum-banner{
    position: unset;
    padding: 2rem 1rem;
    width: 100%;
    margin-top: 2rem;
    @media only screen and (min-device-width: 1200px){
      padding:1.5rem;
      margin-top: 1.5rem;
      width:30%;
      height: fit-content;
    }
   
    .banner-head{
      padding-bottom: 0.5rem;
      h4{
        text-align: center;
        color: var(--grey);
        font-size: 1.2rem;
        @media only screen and (min-device-width: 1200px){
          font-size: 1.5rem;

        }
      }
     
      h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: var(--accent-color);
        i{
          font-size: 1rem;
          margin-right: 0.3rem;
          margin-top: 0.3rem;

          @media only screen and (min-device-width: 1200px){
            margin-right: 0.5rem;

          margin-top: 0.7rem;
          }

        }
        strike{
          i{
            margin-top: 0.3rem;
          }
          @media only screen and (min-device-width: 1200px){

          i{
            margin-top: 0.7rem;
          }
        }
        }
      }
      p{
        text-align: center;
      }
      border-bottom: 1px solid var(--grey);
    }
    ul{
    flex-direction: column;
    width: fit-content;
    margin:0rem auto;
    margin-top: 2rem;
    @media only screen and (min-device-width: 1200px){
      margin-top: 0rem;

    }
   
    li{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem;
      h4{
        font-size: 1.2rem;
        color: var(--text-color);
        @media only screen and (min-device-width: 1200px){
          font-size: 1.5rem;

        }
      }
      .grey-head{
        color: var(--grey);
        margin-bottom: 0.3rem;
        font-size: 1rem;
        @media only screen and (min-device-width: 1200px){
          font-size: 1.2rem;

        }
      }
      i{
        color: var(--accent-color);
        margin-right: 1rem;
      }
    }
    }
    .button-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      h4{
        text-align: center;
      }
      button,a{
        width: 100%;
      }
      .accent-button{
        margin-top: 1rem;
      }
    }
  }
  
    
   
  
  .curriculum-details {
    display: flex;
    flex-direction: column;
    @media only screen and (min-device-width: 1200px){
    width:100%;
  
    flex-direction: row;
    justify-content: space-between;
    .curriculum-banner-flex{
      width: 65%;
    }
    
    }
    .curriculum-item {
      background-color: var(--background-grey);
      padding: 1rem;
      border-radius: 0.5rem;
      margin-top: 1rem;
      @media only screen and (min-device-width: 1200px){
    padding: 1.5rem;


      }
      .wrap-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .info {
          h6 {
            background-color: var(--accent-color);
            color: var(--white-color);
            padding: 0.3rem 0.5rem;
            border-radius: 0.3rem;
            width: fit-content;
            margin-bottom: 1rem;
          }
          .image-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            figure {
              height: 4rem;
              
              margin-right: 1.5rem;
              img{
                width: 4rem;
              }
            }
            h4 {
              margin-bottom: 0.5rem;
            }
            h5{
              color: var(--grey);
              font-family: LightFont;
            }
          }
        }
        .icon {
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      .curriculum-description {
        display: none;
        animation: mymove 2s;
        @keyframes mymove {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 1;
          }
        }
        p {
          margin-top: 1rem;
        }
        .tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
         margin:1rem 0rem;
          li{
            margin-top: 0rem;
            span{
              padding:0.34rem;
            }
          }
        }
          /*h6 {
            padding: 0.3rem 1.5rem;
            border: 1px solid var(--accent-color);
            color: var(--accent-color);
            border-radius: 0.2rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
          }
        }*/
        ul {
          li {
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            i {
              margin-right: 1rem;
              margin-top: 0.4rem;
              color: var(--accent-color);
              font-size: 1rem;
            }
            p {
              margin-top: 0rem;
              margin-bottom: 0rem;
            }
          }
        }
        
      }
    }
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  .technology-parent-desktop{
    display: none;
  }
  
  .technology-parent {
    @media only screen and (min-device-width: 1200px){
      margin: 2rem 0rem;
      display: none;
    }
    .technology-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 1rem;
      -webkit-animation: cA 3s forwards;
      animation: cA 3s forwards;
      @keyframes cA {
        0% {
          opacity: 0;
        }
        90% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes cA {
        0% {
          opacity: 0;
        }
        90% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
      .technology {
        width: 30%;
        figure {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
          img {
            width: 5rem;
            height: 5rem;
          }
          figcaption {
            text-align: center;
            margin-top: 0.7rem;
          }
        }
      }
    }
  }
  @media only screen and (min-device-width: 1200px){
    .carousel-parent{
      display: none;
    }
  .technology-parent-desktop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:3rem 0rem;
    max-width: 800px;
    .technology {
      width: 15%;
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        img {
          width: 5rem;
          height: 5rem;
        }
        figcaption {
          text-align: center;
          margin-top: 0.7rem;
        }
      }
    }
  }
}
}

.projects {
  background-color: var(--light-red);

  .projects-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      background-color: var(--white-color);
      box-shadow: 0px 0px 10px -2px var(--light-grey);
      width: 48%;
      @media only screen and (min-device-width: 1200px){
       width:30%;
       margin-top: 1.5rem;
      }
      margin-top: 1rem;
      figure {
        height: 6rem;
        background-color: var(--light-blue);
        @media only screen and (min-device-width: 1200px){
          height:9rem;
         }
        margin-bottom: 0.7rem;
      }
      article {
        padding: 0.5rem;
        align-items: flex-start;
        @media only screen and (min-device-width: 1200px){
          padding:1rem;
        }
      }
      h4 {
        margin-bottom: 0.7rem;
        font-size: 1.1rem;
        @media only screen and (min-device-width: 1200px){
          font-size: 1.5rem;
        }
      }
    }
  }
}

.free-learning {
  margin-top: 0.5rem;
  text-align: center;
}

.career-assistance {
  padding-top: 1.5rem;
  background:var(--background-middle-color);
  .highlights{
    div{
      background-color: var(--light-red);
      @media only screen and (min-device-width: 1200px){
        background-color: transparent;

      }
    }
  }
  @media only screen and (min-device-width: 1200px){
    padding-top: 3rem;
  }
 
}

.download-curriculum {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (min-device-width: 1200px){
      flex-direction: row;
      justify-content: space-between;
      article{
        
      align-items: flex-start;
      @media only screen and (min-device-width: 1200px){

      p{
        max-width: 70%;
        text-align: left;
      }
    }
    }
    }
  }
  background: var(--section-background-gradient);
  h2,
  p {
    color: var(--white-color);
    text-align: center;
  }
  button {
    i {
      margin-right: 0.5rem;
    }
  }
}

.support-system {
  background-color: var(--light-red);
  .banner {
    position: unset;
    width: 100%;
    padding-bottom: 0rem;
    ul {
      li {
        margin-top: 0rem;

        padding: 1rem 0rem;
        .list-head {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          div {
            width: 90%;
          }
          i {
            font-size: 1.2rem;
          }
        }
        p {
          margin-bottom: 0rem;
        }
        h4 {
          text-align: left;
          margin-bottom: 0.5rem;
        }

        .wrap-faculty {
          display: flex;
          width: -webkit-fill-available;
          padding: 1rem;
          margin-top: 2rem;
          overflow-x: scroll;
          background-color: var(--light-red);
          div {
            min-width: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 1rem;
            padding: 2rem 1rem;

            background-color: var(--white-color);
            figure {
              width: 6rem;
              height: 6rem;
            }
            h6 {
              margin-top: 0.5rem;
            }
          }
        }
        .wrap-mentors {
          display: flex;
          flex-direction: column;
          figure {
            margin-top: 2rem;
            width: 100%;
            height: 15rem;
          }
          ul {
            li {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-bottom: 0rem;
              i {
                margin-right: 1rem;
                color: var(--accent-color);
                font-size: 1.2rem;
              }
            }
          }
        }
        .inner-item {
          display: none;
        }
      }
    }
  }
}
.desktop-support-system{
  display: none;
}
@media only screen and (min-device-width: 1200px){
  .support-system{
    display: none;
  }
  .desktop-support-system{
    background-color: var(--light-red);

    display: block;
    .banner{
      padding:1rem;
      margin-bottom: 2rem;
      ul{
        li{
          width:24%;
          cursor: pointer;
          h4{
            text-align: center;
          }
        }
        #small-head{
          width:10%;
        }
        #big-head{
          width: 25%;
        }
       
      }
    }
    .banner-info{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      .inner-item{
        display: none;
      }
      .wrap-faculty{
        justify-content: space-between;
        width:80%;
        div{
          width:20%;
          background-color: var(--white-color);
          border-radius: 0.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          padding:1.5rem 1rem;
          figure{
            width:5rem;
            height:5rem;
            margin-bottom: 1rem;
          }
          h6{
            text-align: center;
          }
        }
      }
      .wrap-mentors{
        align-items: center;
        width: 80%;
        figure{
          height:20rem;
        }
        ul{
          margin-left: 2rem;
          li{
            display: flex;
            flex-direction: row;
            align-items: center;
            i{
              font-size: 1.5rem;
              color: var(--accent-color);
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  
}



.certificate{
 background: var(--section-background-gradient);

  .container{
    display: flex;
    flex-direction:column;
    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    article{
      @media only screen and (min-width: 1024px) {
        width:50%;
        h2,p{
          margin-bottom: 2rem;
          text-align: left;
        }
      }
      h2,p,li{
        color: var(--white-color);
      }
      ul{
        padding-left: 1rem;
        border-left: 1px solid var(--white-color);
        li{
          margin:0.5rem 0rem;
        }
      }
    }
    figure{
      cursor: pointer;
      @media only screen and (min-width: 1024px) {
        width:40%;
      }
      margin-top: 1rem;
    }
  }
}

.faq {
  h2{
    margin-bottom: 0rem;
  }
  ul {
    li {
      padding: 2rem 0rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid var(--light-grey);
      .faq-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media only screen and (min-device-width: 1200px){
          justify-content: space-between;
        }
        h4 {
          line-height: 2rem;
          font-size: 1.3rem;
          @media only screen and (min-device-width: 1200px){
            font-size: 1.5rem;
          }

          color: var(--grey);
        }
        i {
          font-size: 2rem;
          margin-left: 2rem;
          color: var(--grey);
        }
      }
      .faq-answer {
        display: none;
        margin-top: 1rem;
        p {
          margin-bottom: 0rem;
        }
      }
    }
  }
}

.jumpstart {
  padding:0.5rem 0rem;

  .card {
    @media only screen and (min-device-width: 1200px){
      padding:3rem 0rem;

      display: flex;
      flex-direction: row;
    }
    .left-div {
      background-color: var(--light-red);
      padding: 1.5rem;
      @media only screen and (min-device-width: 1200px){
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
     
    }
    .right-div {
      background: var(--section-background-gradient);

      @media only screen and (min-device-width: 1200px){
        width:50%;
      }
      padding: 1.5rem;
      h2,
      p {
        color: var(--white-color);
      }
      p {
        margin-bottom: 0rem;
      }
      ul {
        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 1rem;
          i {
            margin-right: 1rem;
            color: var(--white-color);
          }
        }
      }
    }
  }
}

.plan-cards{
  background-color: var(--light-red);
  article{
    margin-bottom: 2rem;
    h4{
      color: var(--accent-color);
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  @media only screen and (min-device-width: 1200px){
  article{
    margin-bottom: 2rem;
  }
}
  .curriculum-carousel{
    margin-top: 2rem;
    margin-bottom: 0rem;
    .activcurriculum{
      background-color: var(--accent-color);
    }
  }
  .banner{
    
    display: none;
    position: unset;
    width: 100%;
    .banner-head{
      h3{
        text-align: center;
        margin-bottom: 1rem;
        color: var(--accent-color);

      }
      
      h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        i{
          font-size: 1rem;
          margin-right: 0.3rem;
          margin-top: 0.3rem;
          @media only screen and (min-device-width: 1200px){
            margin-top: 0.7rem;
            margin-right: 0.5rem;

          }
        }
      }
      p{
        text-align: center;
        width: 50%;
        margin:0rem auto;
      }
    
    }
    .list-items{
      background:var(--background-middle-color);
      padding: 2rem 0rem;
      padding-top: 1rem;
    }
    ul{
    flex-direction: column;
    width: fit-content;
    margin:0rem auto;
    li{
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: BoldFont;
      text-transform: capitalize;
      i{
        color: var(--accent-color);
        margin-right: 1rem;
        font-size: 1rem;
        width: 1rem;
      }
      .fa-times{
        color: var(--grey);
      }
    }
    .cross-li{
      color:var(--grey);
    }
    }
    .button-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 0rem;
     
      h4{
        text-align: center;
      }
      .link-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        .fa-play{
          font-size: 0.7rem;
          margin-left: 1rem;
        }
      }
      .link-button:hover{
        i{
          position: relative;
          @keyframes play{
            from{
                left:0;
            }
            to{
                left:1rem;
            }
          }
          animation: play 2s;
          animation-fill-mode: forwards;       
         }
      }
    }
  }
}
.plan-cards-mobile{

  .banner{
  padding:2rem 0rem;
  padding-bottom: 0rem;

  -webkit-animation: cA 3s forwards;
  animation: cA 3s forwards;
  @keyframes cA {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes cA {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
}
.plan-cards-desktop{
  display: none;

}
@media only screen and (min-device-width: 1200px){
  .plan-cards-mobile{
    display: none;
  }

  #banner01{
    position: relative;
    margin-top: 4rem;
  }
 
  #recomended{
    position: absolute;
    background: linear-gradient(
      to right,
      var(--accent-color),
      var(--shade-color)
    );
    color: var(--white-color);
    border-radius: 0.5rem;
    ;
    font-size: 1rem;
    top:-1rem;
    left:32%;
    padding: 0.5rem;    
  }
  
  .plan-cards-desktop{
    display: block;
 
    h5{
      text-align: center;
      margin-top: 0rem;
      display: flex; 
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i{
        margin-left: 1rem;
        font-size: 1.5rem;
        color: var(--accent-color);
      }
    }
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .banner{
      width: 30%;
      display: block;
      padding:2rem 0rem 0rem 0rem;
      height: fit-content;
      

     
      .list-items{
        background:var(--background-middle-color);
        padding-bottom: 2rem;
        ul{
          padding:0rem 1rem;
        }
      }
    }
    .activeFee{
      background-color: var(--black-color);
      .link-button:hover::before{
        background-color: var(--black-color);
      }
      strike{
        i{
          color: var(--grey);
        }
      }
      
      h3,h2,p{
        color: var(--white-color);
      }
      .list-items{
        background: #1b1a1a;
        
        li{
          color: var(--white-color);
        }
        .cross-li{
          color: var(--grey);
        }
      }
    }
  }
  
}

.salary-report{
  background-color: var(--light-red);
  article{
    h3{
      margin: 1rem 0rem;
      text-align: center;
      color: var(--grey);
      font-family: LightFont;
    }
  }
  .flex-div{
    display: flex;
    flex-direction: column;
    .companies{
      .wrap-companies{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        figure{
          width:50%;
          height:7rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--grey);
          @media only screen and (min-device-width: 1200px){
            border: none;
          }
          @media only screen and (min-device-width: 1200px){
            width:30%;

          }
          
          img{
            object-fit: contain;
            width: 80%;
            height: 80%;
          }
        }
      }
      .wrap-companies figure:nth-child(odd){
        border-left:none;
        border-top:none;

      }
      .wrap-companies figure:nth-child(9){
        border-bottom:none;

      }
      .wrap-companies figure:nth-child(10){
        border-bottom:none;

      }
      @media only screen and (min-device-width: 1200px){

      .wrap-companies figure:nth-child(10){
        display: none;
      }
    }
      .wrap-companies figure:nth-child(even){
        border-right:none;
        border-top:none;
        border-left: none;

      }
    }
    .fig-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      figure{
        width:100%;
        height:100%;
        img{
          object-fit: contain;
          transform: scale(1);
          @media only screen and (min-device-width: 1200px){
            transform: scale(1.1);
          }
        }
      }
    }
    @media only screen and (min-device-width: 1200px){
      flex-direction: row;
      justify-content: space-between;
      .companies{
        width:45%;
      }
      .fig-div{
        width:45%;
      }
    }
  }
}



