:root {
  --text-color: #333;
  --accent-color: rgb(187, 19, 51);
  --middle-shade-color: rgb(216, 28, 59);
  --shade-color: rgb(247, 3, 3);
  --white-color: rgb(255, 255, 255);
  --light-grey: rgb(172, 178, 179);
  --grey: rgba(143,139,132);
  --light-blue: rgb(193, 227, 250);
  --golden-color: rgb(255, 215, 0);
  --light-red: rgb(255, 241, 243);
  --background-grey: rgb(243, 241, 238);
  --black-color: rgb(0, 0, 0);
  --background-middle-color: rgb(255,202,196);
  --section-background-gradient:linear-gradient(to right, rgb(0, 0, 0), rgb(204, 0, 0));
}

@font-face {
  font-family: BoldFont;
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: LightFont;
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  outline: none;
  font-family: LightFont;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), white);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  background-image: linear-gradient(315deg, #bb1333 0%, #f70303 74%);
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0rem;
  font-family: BoldFont;
  color: var(--text-color);
  text-transform: capitalize;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.25;
}
@media only screen and (min-device-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-device-width: 350px) and (max-device-width: 480px) {
  h1 {
    font-size: 2rem;
    line-height: 1.3;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}
@media only screen and (min-width: 1224px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.05;
  }
}
@media only screen and (min-width: 1824px) {
  h1 {
    font-size: 2.7rem;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h2 {
    font-size: 1.625rem;
    line-height: 1.25;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1224px) {
  h2 {
    font-size: 2.25rem;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 1824px) {
  h2 {
    font-size: 2.25rem;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375rem;
  line-height: 1.3;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h3 {
    font-size: 1.375rem;
    line-height: 1.33;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1224px) {
  h3 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1824px) {
  h3 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.375rem;
  line-height: 1.13;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h4 {
    font-size: 1.375rem;
    line-height: 1.13;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1224px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1824px) {
  h4 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

h5 {
  font-size: 1rem;
  line-height: 1.13;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h5 {
    font-size: 1rem;
    line-height: 1.13;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h5 {
    font-size: 1.1rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1224px) {
  h5 {
    font-size: 1.3rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1824px) {
  h5 {
    font-size: 1.3rem;
    line-height: 1.25;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.13;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h6 {
    font-size: 1rem;
    line-height: 1.13;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h6 {
    font-size: 1.1rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1224px) {
  h6 {
    font-size: 1.3rem;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1824px) {
  h6 {
    font-size: 1.3rem;
    line-height: 1.25;
  }
}

section {
  padding: 1.5rem 1rem;
  background-color: var(--white-color);
}
@media only screen and (min-width: 1224px) {
  section {
    padding: 3rem 0rem;
  }
}

p,
label {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 1rem;
}
@media only screen and (min-device-width: 350px) and (max-device-width: 480px) {
  p,
label {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  p,
label {
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 1224px) {
  p,
label {
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 1824px) {
  p,
label {
    font-size: 1.15rem;
  }
}

ul > li {
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 1.4rem;
  list-style-type: none;
}

label {
  font-family: BoldFont;
}

button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-family: BoldFont;
  transition: all 0.3s;
  transition-delay: 0.1s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  button {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
  }
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-110%) rotate(45deg);
  transition: all 3s cubic-bezier(0.15, 1, 0.19, 1);
}

button:hover {
  border: 1px solid var(--shade-color);
}

button:hover::before {
  background-color: #fff;
  transform: translate(115%, -10px) rotate(90deg);
}

.accent-button {
  background: linear-gradient(to right, var(--accent-color), var(--shade-color));
  color: var(--white-color);
  border: 1px solid var(--accent-color);
}

.border-button {
  background-color: var(--white-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.border-button:hover {
  background: linear-gradient(to right, var(--accent-color), var(--shade-color));
  color: var(--white-color);
}

.link-button {
  background: transparent;
  color: var(--accent-color);
  border: none;
}

.link-button:hover {
  color: var(--shade-color);
  border: none;
}

input {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-family: BoldFont;
  border: 1px solid var(--light-grey);
}
@media only screen and (min-width: 1024px) {
  input {
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
  }
}

input:focus {
  box-shadow: 0px 0px 10px -2px skyblue;
  border: 1px solid skyblue;
}

input::placeholder {
  font-size: 1rem;
  color: var(--light-grey);
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  input::placeholder {
    font-size: 1.2rem;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.round-icon-images img {
  border-radius: 100%;
}

.button-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-device-width: 1200px) {
  .button-component {
    flex-direction: row;
    align-items: center;
    width: 25rem;
  }
  .button-component .shrink-button-component {
    width: 50%;
    display: block;
  }
}
.button-component input {
  display: none;
}
.button-component button {
  width: 100%;
}
.button-component .shrink-button-component {
  width: 100%;
  display: block;
}

.button-component-form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-component-form button,
.button-component-form input {
  width: 100%;
}
@media only screen and (min-device-width: 1200px) {
  .button-component-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.button-component-form i {
  padding: 0.7rem;
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.popupComponent {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.7);
  top: 4rem;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: cA 1s forwards;
  animation: cA 1s forwards;
}
.popupComponent i {
  position: absolute;
  top: 2rem;
  color: var(--white-color);
  right: 2rem;
  font-size: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}
@media only screen and (min-device-width: 1200px) {
  .popupComponent i {
    top: 3rem;
  }
}
@keyframes cA {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cA {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.carousel-parent {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  margin-bottom: 2rem;
  width: fit-content;
}
.carousel-parent span {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0rem 0.3rem;
  background-color: var(--light-grey);
  border-radius: 100%;
  cursor: pointer;
}
.carousel-parent .active {
  background-color: var(--accent-color);
}

.scrollupComponent {
  display: none;
  position: fixed;
  z-index: 99999;
  bottom: 1rem;
  left: 1rem;
  padding: 1.2rem 1.5rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 2px solid var(--white-color);
}
.scrollupComponent i {
  color: var(--white-color);
  font-size: 1.2rem;
}

.chat-box {
  position: fixed;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: auto;
  right: 1rem;
  bottom: 1rem;
}
.chat-box figure {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  background: var(--section-background-gradient);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat-box figure #cross {
  width: 1.2rem;
  height: 1.2rem;
}
@media only screen and (min-device-width: 1200px) {
  .chat-box figure {
    width: 4rem;
    height: 4rem;
  }
}
.chat-box div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chat-box div i {
  color: var(--accent-color);
  background-color: var(--white-color);
  border: 2px solid var(--accent-color);
  padding: 0.7rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
@media only screen and (min-device-width: 1200px) {
  .chat-box div i {
    padding: 1.2rem 1.3rem;
  }
}
.chat-box div span {
  padding: 0.3rem 0.7rem;
  background-color: black;
  color: var(--white-color);
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  font-family: boldFont;
}
.chat-box .inner-div {
  display: none;
}

#testi {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-33rem * 2));
  }
}
#testi::before, #testi::after {
  background: linear-gradient(to right, #010101 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 20%;
  z-index: 2;
}
#testi::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
#testi::before {
  left: 0;
  top: 0;
}
#testi .testimonial {
  display: flex;
  animation: scroll 20s linear infinite;
  width: calc(100% * 4);
}
@media only screen and (min-device-width: 1200px) {
  #testi .testimonial {
    width: calc(35rem * 4);
  }
}
#testi .testimonial .testimonial-background {
  background: url("https://konfinity-assets.s3.ap-south-1.amazonaws.com/landing/testimonial.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0rem 0.5rem;
  height: 14rem;
  width: 100%;
}
@media only screen and (min-device-width: 1200px) {
  #testi .testimonial .testimonial-background {
    width: 35rem;
    height: 18rem;
  }
}
#testi .testimonial .wrap-testimonial {
  display: flex;
  border: 1px solid var(--text-color);
  flex-direction: row;
  width: 92%;
  margin: 1rem 1rem;
  height: 12rem;
  background-color: rgba(1, 1, 1, 0.2);
}
@media only screen and (min-device-width: 1200px) {
  #testi .testimonial .wrap-testimonial {
    margin: 1.2rem 1.6rem 1rem 1.5rem;
    height: 15.7rem;
  }
}
#testi .testimonial .wrap-testimonial .testimonial-image {
  width: 10rem;
  height: 12rem;
}
@media only screen and (min-device-width: 1200px) {
  #testi .testimonial .wrap-testimonial .testimonial-image {
    height: 100%;
    width: 50%;
  }
}
#testi .testimonial .wrap-testimonial .testimonial-image #yash {
  object-position: left;
}
#testi .testimonial .wrap-testimonial figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
#testi .testimonial .wrap-testimonial figcaption h5 {
  font-size: 1rem;
  color: var(--white-color);
}
@media only screen and (min-device-width: 1200px) {
  #testi .testimonial .wrap-testimonial figcaption h5 {
    font-size: 1.5rem;
  }
}
#testi .testimonial .wrap-testimonial figcaption p {
  color: var(--white-color);
  font-size: 0.9rem;
}
@media only screen and (min-device-width: 1200px) {
  #testi .testimonial .wrap-testimonial figcaption p {
    font-size: 1.15rem;
  }
}
#testi .testimonial .wrap-testimonial figcaption span {
  font-weight: 900;
  color: var(--white-color);
}
#testi .testimonial .wrap-testimonial figcaption ul li {
  margin-top: 0.5rem;
  color: var(--white-color);
}
@media only screen and (max-device-width: 1200px) {
  #testi .testimonial .wrap-testimonial figcaption ul li {
    font-size: 0.9rem;
    margin-top: 0.1rem;
  }
}

strike {
  margin-right: 1rem;
  color: var(--grey);
  display: flex;
  flex-direction: row;
}
strike i {
  font-size: 1rem;
  margin-right: 0.5rem;
  margin-top: 0rem;
}

.tag {
  background: var(--background-middle-color);
  border-radius: 3px 0 0 3px;
  color: var(--accent-color);
  font-family: BoldFont;
  display: inline-block;
  line-height: 26px;
  padding: 0 1.5rem;
  position: relative;
  margin-right: 0.5rem;
  text-decoration: none;
  margin-bottom: 0.3rem;
}

.tag::before {
  background: var(--accent-color);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 0.3rem;
  left: 0.9rem;
  position: absolute;
  width: 0.3rem;
  top: 1rem;
}

.tag::after {
  background: var(--background-grey);
  border-bottom: 1.15rem solid transparent;
  border-left: 1rem solid var(--background-middle-color);
  border-top: 1.15rem solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (min-device-width: 1200px) {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article p {
    max-width: 800px;
  }

  .container {
    margin: 0rem 1;
  }
}
@media only screen and (min-device-width: 1200px) and (min-device-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0rem auto;
  }
}

/*# sourceMappingURL=theme.css.map */
