:root {
  --text-color: #333;
  --accent-color: rgb(187, 19, 51);
  --middle-shade-color: rgb(216, 28, 59);
  --shade-color: rgb(247, 3, 3);
  --white-color: rgb(255, 255, 255);
  --light-grey: rgb(172, 178, 179);
  --grey: grey;
  --light-blue: rgb(173, 217, 247);
  --golden-color: rgb(255, 215, 0);
  --light-red: rgb(255, 241, 243);
  --background-grey: rgb(243, 241, 238);
  --black-color: rgb(0, 0, 0);
  --background-middle-color: rgb(255,202,196);

}
@font-face {
  font-family: BoldFont;
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: LightFont;
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: LightFont;
}
html{
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0rem;
  font-family: BoldFont;
  color: var(--text-color);
  text-transform: capitalize;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.25;
  @media only screen and (min-device-width: 320px) {
    font-size: 1.5rem;
  }
  @media only screen and (min-device-width: 350px) and (max-device-width: 480px) {
    font-size: 2rem;
    line-height: 1.3;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 2.5rem;
    line-height: 1.125;
  }
  @media only screen and (min-width: 1224px) {
    font-size: 2.5rem;
    line-height: 1.05;
  }
  @media only screen and (min-width: 1824px) {
    font-size: 2.7rem;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  text-align: center;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1.625rem;
    line-height: 1.25;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 2rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1224px) {
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: 700;
  }
  @media only screen and (min-width: 1824px) {
    font-size: 2.25rem;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375rem;
  line-height: 1.3;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1.375rem;
    line-height: 1.33;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1224px) {
    font-size: 1.75rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1824px) {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.375rem;
  line-height: 1.13;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1.375rem;
    line-height: 1.13;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1224px) {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1824px) {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

h5 {
  font-size: 1rem;
  line-height: 1.13;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1rem;
    line-height: 1.13;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 1.1rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1224px) {
    font-size: 1.3rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1824px) {
    font-size: 1.3rem;
    line-height: 1.25;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.13;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1rem;
    line-height: 1.13;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 1.1rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1224px) {
    font-size: 1.3rem;
    line-height: 1.25;
  }
  @media only screen and (min-width: 1824px) {
    font-size: 1.3rem;
    line-height: 1.25;
  }
}

section {
  padding: 1.5rem 1rem;
  @media only screen and (min-width: 1224px) {
    padding: 3rem 0rem;
  }
}

p,
label {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 1rem;
  @media only screen and (min-device-width: 350px) and (max-device-width: 480px) {
    font-size: 1rem;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    font-size: 1.15rem;
  }
  @media only screen and (min-width: 1224px) {
    font-size: 1.15rem;
  }
  @media only screen and (min-width: 1824px) {
    font-size: 1.15rem;
  }
}

ul > li {
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 1.4rem;
  list-style-type: none;
}

label {
  font-family: BoldFont;
}

button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-family: BoldFont;
  transition: all 0.3s;
  transition-delay: 0.1s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: capitalize;
  @media only screen and (min-width: 1024px) {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
  }
}
button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-110%) rotate(45deg);
  transition: all 3s cubic-bezier(0.15, 1, 0.19, 1);
}
button:hover {
  border: 1px solid var(--shade-color);
}
button:hover::before {
  background-color: #fff;
  transform: translate(115%, -10px) rotate(90deg);
}
.accent-button {
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--shade-color)
  );
  color: var(--white-color);
  border: 1px solid var(--accent-color);
}
.border-button {
  background-color: var(--white-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.border-button:hover{
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--shade-color)
  );
  color: var(--white-color);

}

.link-button{
  background: transparent;
  color: var(--accent-color);
  border: none;
}
.link-button:hover{
  color: var(--shade-color);
  border: none;

}

input {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-family: BoldFont;
  border: 1px solid var(--light-grey);
  @media only screen and (min-width: 1024px) {
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
  }
}
input:focus {
  box-shadow: 0px 0px 10px -2px skyblue;
  border: 1px solid skyblue;
}
input::placeholder {
  font-size: 1rem;
  color: var(--light-grey);
  text-transform: capitalize;
  @media only screen and (min-width: 1024px) {
    font-size: 1.2rem;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.round-icon-images {
  img {
    border-radius: 100%;
  }
}

.shadow {
  box-shadow: 0px 0px 9px 3px var(--light-grey);
}

.button-component {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media only screen and (min-device-width: 1200px) {
    flex-direction: row;
    align-items: center;
    width: 25rem;
    .shrink-button-component {
      width: 50%;
      display: block;
    }
  }
  input {
    display: none;
  }
  button {
    width: 100%;
  }
  .shrink-button-component {
    width: 100%;
    display: block;
  }
}
.button-component-form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  button,
  input {
    width: 100%;
  }
  @media only screen and (min-device-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  i {
    padding: 0.7rem;
    display: none;
    cursor: pointer;
  }
}
a{
  text-decoration: none;
}

@media only screen and (min-device-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0rem auto;
  }
}



.popupComponent {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.7);
  top: 4rem;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: cA 1s forwards;
  animation: cA 1s forwards;
  i{
    position: absolute;
    top:2rem;
    right:2rem;
    font-size: 1.2rem;
    color: var(--white-color);
  cursor: pointer;
  }
  @keyframes cA {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes cA {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}


  .carousel-parent {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    margin-bottom: 2rem;
    width: fit-content;

    span {
      width: 0.8rem;
      height: 0.8rem;
      margin: 0rem 0.3rem;
      background-color: var(--light-grey);
      border-radius: 100%;
      cursor: pointer;
    }
    .active {
      background-color: var(--accent-color);
    }
  }
  .scrollupComponent{
    display: none;
  }
  @media only screen and (min-device-width: 1200px){
  .scrollupComponent{
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    padding:1.2rem 1.5rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    i{
      color: var(--white-color);
      font-size: 1.2rem;
    }
  }
}
@media only screen and (min-device-width: 1200px){
article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    max-width: 800px;
  }
}
}

.testimonial{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .wrap-testimonial{
    display: flex;
    border: 1px solid var(--text-color);
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    @media only screen and (min-device-width: 1200px){

    width: 32%;
    }
    
    .testimonial-image{
      width:12rem;
      img{
        object-position: left;
      }
    }
    figcaption{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding:0.5rem;
      h5{
        font-size: 1.2rem;
      }
      @media only screen and (min-device-width: 1200px){
        h5{
          font-size: 1.4rem;
        }
      }
      span{
        font-weight: 900;
      }
      ul{
        li{
          margin-top: 0.5rem;
        }
      }
    }
  }
}